#mymodal {
  /* margin-right: 40%;
  margin-left: 40%; */
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0;
}

ul {
  margin-left: 30%;
  margin-right: 20%;
}

img {
  width: 100%;
  max-width: 900px;
  margin-top: 20px;
}

.modal-btn {
  border-color: #127ba3;
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 80px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

p {
  color: gray;
  text-align: center;
  margin-top: 15px;
}

.devise {
  max-width: 500px;
  margin-top: 20px;
}

.h4 {
  margin-bottom: 20px;
}
/* .far {
  width: 100px;
  height: 100px;
  text-align: center;
}
.fas {
  text-align: center;
} */

